<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.uag.mybusiness">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icone_app"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icone_app"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.DarkActionBar">



        <activity android:name=".activities.ActivityCarrinhoCompra"></activity>
        <activity
            android:name=".activities.ActivityEditarProduto"
            android:label="@string/titulo_tela_editar_produto" />
        <activity
            android:name=".activities.ActivityMenuRelatorio"
            android:label="@string/titulo_tela_menu_relatorio" />
        <activity
            android:name=".activities.ActivityCadastrarUsuario"
            android:label="@string/titulo_tela_cadastrar_usuario" />
        <activity
            android:name=".activities.ActivityMenuUsuario"
            android:label="@string/titulo_tela_menu_usuario" />
        <activity
            android:name=".activities.ActivityMenuCliente"
            android:label="@string/titulo_tela_menu_cliente" />
        <activity
            android:name=".activities.ActivityCadastrarCliente"
            android:label="@string/titulo_tela_cadastrar_cliente" />
        <activity
            android:name=".activities.ActivityNovaVenda"
            android:label="@string/titulo_tela_realizar_venda" />
        <activity
            android:name=".activities.ActivityMenuVenda"
            android:label="@string/titulo_tela_menu_venda" />
        <activity
            android:name=".activities.ActivityMenuProduto"
            android:label="@string/titulo_tela_menu_produto" />
        <activity android:name=".activities.ActivityListaProdutos" />
        <activity
            android:name=".activities.ActivityCadastrarProduto"
            android:label="@string/titulo_tela_cadastrar_produto" />
        <activity
            android:name=".activities.ActivityMenu"
            android:label="@string/titulo_tela_menu" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".util.CarregarImagemUrl"
            android:label="Carregar imagem"
            ></activity>

        <activity android:name=".util.ProdutoExibir"
            android:label="Exibir Prdoduto"
            ></activity>
    </application>

</manifest>